{% extends 'diary/base.html' %}

    {% block content %}
    {% if username %}
    <div class="container" id="text">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h2>Добавьте новую запись в свой дневник</h2></div>
            <div class="panel-body">
                <div>
                    <form method="POST" class="post-form">{% csrf_token %}

                        <div class="form-group">
                            <p><label>Заголовок</label></p>
                            <p><input type="title" class="form-control" name="title" aria-describedby="sizing-addon1"></p>
                        </div>

                        <div class="form-group">
                            <p><label>Текст</label></p>
                            <textarea type="text" name="text" class="form-control" rows="3"></textarea>
                        </div>

                        <input type="submit" class="btn btn-lg btn-success" value="Добавить">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
    <h2>Все записи:</h2>
    {% for list in all_diary_lists %}
        <div class="panel panel-default">
            <div class="panel-heading">
               <!-- <div>Автор: {{list.author}}</div> -->
                <div class="text-center" id="diary_title">{{list.title}}</div>
                <div>Дата: {{list.date}}</div>
            </div>

            <div class="panel-body">
                <div id="diary_text">{{list.text}}</div>
            </div>
        </div><br>
    {% endfor %}

    {% else %}
    <h3>Данная страница доступна только зарегистрированным пользователям!</h3>
    {% endif %}

    {% endblock %}