{% extends 'diary/base.html' %}

{% block content %}

    <h3 class="text-danger text-center">Внимание! Сайт находится в режиме разработки! Функциональность ещё будет добавляться!</h3>
    <h1 class="text-center">Добро пожаловать в Diar Diary! :)</h1>
    <br>
    <h3>Что Вы можете найти в Diar Diary:</h3>
    <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Дневник</h3>
            </div>

            <div class="panel-body">
                <div class="text-danger">Внимание! Чтобы пользоваться дневником, Вам необходимо быть зарегистрированным пользователем!</div>
                <div>Здесь Вы можете записывать свои мысли и/или события из жизни.</div>
                <div>Ведение дневника - очень занимательное занятие.</div>
                <div>Только представьте: через год или больше Вы сможете окунуться в ностальгию, вспомнить свои переживания и счастливые моменты, победы и поражения, путешествия и мысли!
                    Сможете проанализировать, насколько Ваша жизнь и Вы сами изменились с тех пор.</div>
                <div>И это не бумага - она не порвётся и не потеряется, Ваши воспоминания будут всегда с Вами!</div>
            </div>
        </div><br>

{% endblock %}